<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--控制台打印日志的相关配置-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--日志文件保存相关配置-->
    <appender name="sinmall" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志保存的路径-->
        <File>D:/Sinvirance/WorkSpace/JavaProject/SinMall/logs/sinmall.log</File>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/Sinvirance/WorkSpace/JavaProject/SinMall/logs/sinmall.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <!--日志格式-->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
    </appender>

    <!--错误日志的保存配置-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--错误日志保存的路径-->
        <File>D:/Sinvirance/WorkSpace/JavaProject/SinMall/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/Sinvirance/WorkSpace/JavaProject/SinMall/logs/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <!--用于过滤其他非错误级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--设置logger 用来设置某一个包或者具体的某一个类的日志打印级别-->
    <logger name="top.sinmall" additivity="false" level="INFO" >
        <appender-ref ref="sinmall" />
        <appender-ref ref="console"/>
    </logger>

    <!-- 配置 Mybatis sql 日志 -->
    <logger name="top.sinmall.dao" level="DEBUG"/>

    <!--定义日志的记录级别-->
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>